* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 14pt;
  line-height: 130%;
  overscroll-behavior: none; /* avoid Pull-to-Refresh */
  user-select: none; /* avoid user selecting non-input area */
}

body {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

textarea, input, select, option {
  font: inherit;
  color: white;
  background-color: black;
}

button {
  font: inherit;
}

.flex-v {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.flex-h {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.fixed {
  flex-grow: 0;
  flex-shrink: 0;
}

.grow {
  flex-grow: 1;
  flex-shrink: 1;
}

#app {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

#voices-container {
  align-items: center;
}

#voices {
  border: none;
  background-color: #203020;
}

#log {
  padding: 0.3em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  resize: none;
}

.not-speaking {
  border: 4px solid #404040;
}

.speaking-now {
  border: 4px solid #2080c0;
}

#read-all {
  margin-right: 0.5em;
}

input[type="button"] {
  -webkit-appearance: none;
  border-radius: 4px;
}